#campaign-window h1 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #333;
}

#campaign-window div {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    color: #555;
}

#setting-creation, #campaign-creation, #campaign-selection, #setting-selection {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#setting-creation input, #campaign-creation input {
    width: 100%;
    font-size: 14px;
}

#setting-creation button, #campaign-creation button, #campaign-selection button {
    align-self: center;
    width: 100%;
}

#campaign-selection select, #setting-selection select {
    width: 100%;
    font-size: 14px;
}